<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button  defaulthref=""></ion-back-button>
        </ion-buttons>
      <ion-title>
          JOBCARD
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-item>
  <ion-label class="font">Serial Number: {{serialNo.partrecordserialnumber}}</ion-label>

  <ion-label class="expand">Expand All</ion-label>
  <ion-toggle slot="end" name="expand" mode="md" class="toggle-small" toggle-class="toggle-calm" (click)="hide()"></ion-toggle>
</ion-item>


  <ion-card>
  <ion-item *ngFor="let jobcardDetail of id2"> 
  <ion-label>{{jobcardDetail.jobcardtitle}}</ion-label>
  <ion-badge color="danger">{{jobcardDetail.jobcardtotaltaskcount-jobcardDetail.jobcardcompletedtaskcount-jobcardDetail.jobcardprogresstaskcount}}</ion-badge>
  <ion-badge color="warning">{{jobcardDetail.jobcardprogresstaskcount}}</ion-badge>
  <ion-badge color="success">{{jobcardDetail.jobcardcompletedtaskcount}}</ion-badge>
</ion-item>
 
 <ion-label *ngFor="let jobcardDetail of id2">
  <ion-card-content class="font" *ngIf="hideMe"> 
    Complete Percentage
    <ion-progress-bar  color="warning" style="height:10px" value="{{jobcardDetail.jobcardcompletedtaskcount/jobcardDetail.jobcardtotaltaskcount}}"></ion-progress-bar> {{jobcardDetail.jobcardcompletedpercentage}}%</ion-card-content>
  <ion-card-content class="font" *ngIf="hideMe"> 
    Short Time
    <ion-progress-bar color="warning" style="height:10px " value="0.2"></ion-progress-bar>
  </ion-card-content>
  <ion-card-content class="font" *ngIf="hideMe"> 
    Turn Around Time
    <ion-progress-bar  color="warning" style="height:10px " value="0.1"></ion-progress-bar>
  </ion-card-content>
</ion-label>
</ion-card>

<ion-label *ngFor="let jobcardDetail of id2">
<ion-label  *ngFor="let jobcardid of id">
<ion-item  class="font">
<ion-label class="ion-text-wrap" ><b>{{jobcardid.tasktitle}}</b></ion-label>
<img *ngIf="jobcardid.taskstatus[0].taskstatus == 'Resumed'" src="assets/icon/start.jpg" tappable width="30" height="30" slot="end"  (click)="gotoChildTask(jobcardid.jobcardid,jobcardid.taskid,jobcardid.tasktitle,jobcardDetail)"/>
<img *ngIf="jobcardid.taskstatus[0].taskstatus == 'Started'" src="assets/icon/start.jpg" tappable width="30" height="30" slot="end"  (click)="gotoChildTask(jobcardid.jobcardid,jobcardid.taskid,jobcardid.tasktitle,jobcardDetail)"/>
<img *ngIf="jobcardid.taskstatus[0].taskstatus == 'Not Started'" src="assets/icon/start.jpg" tappable width="30" height="30" slot="end"  (click)="gotoChildTask(jobcardid.jobcardid,jobcardid.taskid,jobcardid.tasktitle,jobcardDetail)"/>
<img *ngIf="jobcardid.taskstatus[0].taskstatus == 'Paused'" src="assets/icon/start.jpg" tappable width="30" height="30" slot="end"  (click)="gotoChildTask(jobcardid.jobcardid,jobcardid.taskid,jobcardid.tasktitle,jobcardDetail)"/>
<img *ngIf="jobcardid.taskstatus[0].taskstatus == 'Re-Open'" src="assets/icon/start.jpg" tappable width="30" height="30" slot="end"  (click)="gotoChildTask(jobcardid.jobcardid,jobcardid.taskid,jobcardid.tasktitle,jobcardDetail)"/>
<img *ngIf="jobcardid.taskstatus[0].taskstatus == 'Stopped'" src="assets/icon/tick.png" width="18" height="18" slot="end"/>
</ion-item>
<ion-grid> 
    <ion-row>
      <ion-col width-50><button *ngIf="jobcardid.taskstatus[0].taskstatus == 'Stopped'" style="width:100%" class="button" (click)="goTime(jobcardid.taskid)">TIME DURATION</button></ion-col>
    </ion-row>
 </ion-grid>
</ion-label>
</ion-label>

</ion-content>

