<ion-header>
  <ion-toolbar color="primary" >
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>
          SMART WORKSHOP
      </ion-title>
    <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="item" (click)="dashboard()"><img src="assets/icon/dashboard.png" width="50" height="50"/><br>DASHBOARD</div>
    <div class="item" (click)="projectmanagement()"><img src="assets/icon/briefcase.png" width="50" height="50"/><br>PROJECT MANAGEMNET</div>
    <div class="item" (click)="worksheet()"><img src="assets/icon/WW.png" width="70" height="50"/><br>WORKSHOP WORKSHEET</div>
    <div class="item" (click)="smartjobcard()"><img src="assets/icon/smart_job.png" width="50" height="50"/><br>SMART JOBCARD</div>
    <div class="item"><img src="assets/icon/report.png" width="50" height="50"/><br>REPORT VIEW</div>
    <div class="item"><img src="assets/icon/work.png" width="50" height="50"/><br>SMART WORKPLACE</div>
    <div class="item"><img src="assets/icon/calendar.png" width="50" height="50"/><br>SMART SCHEDULE</div>
    <div class="item"><img src="assets/icon/employee.png" width="60" height="50"/><br>EMPLOYEE MANAGEMENT</div>
    <div class="item"><img src="assets/icon/slider.png" width="50" height="50"/><br>WORKSHOP ENVIRONEMENT</div>
    <div class="item"><img src="assets/icon/chat.png" width="50" height="50"/><br>MESSAGE</div>
</div>
    
</ion-content>
