.container {
    display: grid;
    grid-template-columns: auto auto;
  
  
  
  }
  .item {
    background-color:#9BACD9 ;
    border: 0.5px solid #fff;
    padding: 27px;
    font-size: 10px;
    text-align: center;
    color: white;
  }
  