.head{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 12px;
  }
  
  .body{
    color: darkcyan;
    font-size: 13px;
  }
  
  .body1{
    color: black;
    font-size: 12px;
  }
  
  .head1{
    color: black;
    font-size: 13px;
    font-weight: bold;
  }
  