<ion-header>
  <ion-toolbar text-center >
    <ion-title>TASK TIME DURATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >

<ion-label  *ngFor="let timeDetail of newarr.slice().reverse()">
  <ion-item>
      <ion-grid class="gridcolor"> 
      <ion-row *ngIf="timeDetail.newtaskstatus === false">
        <ion-col width-50><ion-label style="width:100%">Resumed</ion-label></ion-col>
        <ion-col width-50><ion-label style="width:100%">{{timeDetail.tasktimemanagementstartdatetime}}</ion-label></ion-col>
      </ion-row>
      <ion-row  *ngIf="timeDetail.newtaskstatus === true">
        <ion-col width-50><ion-label style="width:100%">Started</ion-label></ion-col>
        <ion-col width-50><ion-label style="width:100%">{{timeDetail.tasktimemanagementstartdatetime}}</ion-label></ion-col>
      </ion-row>
      <ion-row *ngIf="timeDetail.tasktimemanagementendstate === 2">
        <ion-col width-50><ion-label style="width:100%">Paused</ion-label></ion-col>
        <ion-col width-50><ion-label style="width:100%">{{timeDetail.tasktimemanagementenddatetime}}</ion-label></ion-col>
      </ion-row>
      <ion-row *ngIf="timeDetail.tasktimemanagementendstate === 4">
        <ion-col width-50><ion-label style="width:100%">Finished</ion-label></ion-col>
        <ion-col width-50><ion-label style="width:100%">{{timeDetail.tasktimemanagementenddatetime}}</ion-label></ion-col>
      </ion-row>
      <ion-row *ngIf="timeDetail.tasktimemanagementendstate === 5">
        <ion-col width-50><ion-label style="width:100%">Finished</ion-label></ion-col>
        <ion-col width-50><ion-label style="width:100%">{{timeDetail.tasktimemanagementenddatetime}}</ion-label></ion-col>
      </ion-row>
   </ion-grid>
  </ion-item>
  </ion-label>
</ion-content>



<ion-footer>
  <ion-button class="button" expand="full" color="primary" (click)="dismiss()">Close</ion-button>
</ion-footer>