<ion-header>
    <ion-toolbar color="primary" >
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <ion-title>
            SMART JOBCARD
        </ion-title>
      <ion-buttons slot="end">
          <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-buttons>
     </ion-toolbar>
     
  </ion-header>

<ion-content>
    <ion-toolbar>
        <ion-segment value="todolist" > 
              <ion-segment-button value="todolist">TO-DO LIST
                  <!-- <ion-label stacked>TO-DO LIST</ion-label> -->
            <ion-select interface="popover" mode="ios" [(ngModel)]="segment" >
                  <ion-select-option   value="activate" [selected]="true">ACTIVATE ({{activate.length}})</ion-select-option>
                  <ion-select-option   value="approve">APPROVE ({{approve.length}})</ion-select-option>
                </ion-select>
            </ion-segment-button>
            <ion-segment-button value="follow">FOLLOW-UP LIST
                <!-- <ion-label stacked>FOLLOW-UP LIST</ion-label> -->
                <ion-select interface="popover"   [(ngModel)]="segment" >
                    <ion-select-option value="new">NEW / PENDING ({{newWO.length}})</ion-select-option>
                    <ion-select-option value="progress">IN-PROGRESS ({{inProgressWO.length}})</ion-select-option>
                    <ion-select-option value="completed">COMPLETED ({{completedWO.length}})</ion-select-option>
                    <ion-select-option value="view">VIEW ALL ()</ion-select-option>
                  </ion-select>
            </ion-segment-button>
        
          </ion-segment>
        </ion-toolbar>
  
          <div [ngSwitch]="segment">
            <div *ngSwitchCase="'activate'">
              <ion-item  class="show"  >
                  <ion-label >Show</ion-label>
                  <ion-select  interface="popover">
                    <ion-select-option value="10">10</ion-select-option>
                    <ion-select-option value="25">25</ion-select-option>
                    <ion-select-option value="50">50</ion-select-option>
                    <ion-select-option value="100">100</ion-select-option>
                  </ion-select>
                  </ion-item> 

            <ion-card >        
              <ion-card-content>
                  <ion-row>
                      <ion-col  size="4">
                        <div class="head">CRO</div>
                      </ion-col>
                      <ion-col>
                        <div  class="head">EDD</div>
                      </ion-col>
                      <ion-col size="1.5">
                        <div  class="head">WW</div>
                      </ion-col>
                      <ion-col size="1">
                        <div  class="head"></div>
                      </ion-col>
                    </ion-row>
                    <ion-row  *ngFor="let cro of activate">
                        <ion-col  size="4" >
                          <div class="body" (click)=" goView(cro.workorderid)">{{cro.workorderno}}</div>
                        </ion-col>
                        <ion-col>
                          <div class="body1">{{cro.workorderestimateddeliverydatetime | date:"MMM dd, yyyy"}}</div>
                        </ion-col>
                        <ion-col size="1.5">
                          <div class="body" (click)="goJobcard(cro.workorderid)"><img src="assets/icon/folder.png" tappable /></div>
                        </ion-col>
                        <ion-col size="1">
                          <div class="body" (click)=" goEdit(cro.workorderid)"><img src="assets/icon/edit2.png" tappable /></div>
                        </ion-col>
                      </ion-row>
              </ion-card-content>
            </ion-card>
          </div>

              <div *ngSwitchCase="'approve'">
                <ion-item  class="show"  >
                    <ion-label >Show</ion-label>
                    <ion-select  interface="popover">
                      <ion-select-option value="10">10</ion-select-option>
                      <ion-select-option value="25">25</ion-select-option>
                      <ion-select-option value="50">50</ion-select-option>
                      <ion-select-option value="100">100</ion-select-option>
                    </ion-select>
                    </ion-item> 
  
              <ion-card >        
                <ion-card-content>
                    <ion-row>
                        <ion-col  size="4">
                          <div class="head">CRO</div>
                        </ion-col>
                        <ion-col  size="4">
                          <div  class="head">EDD</div>
                        </ion-col>
                        <ion-col size="1.5">
                          <div  class="head">WW</div>
                        </ion-col>
                        <ion-col size="1.3">
                            <div  class="head">SJ</div>
                          </ion-col>
                          <ion-col size="1">
                            <div  class="head"></div>
                          </ion-col>
                      </ion-row>
                      <ion-row  *ngFor="let cro of approve">
                          <ion-col  size="4" >
                            <div class="body"(click)=" goView(cro.workorderid)">{{cro.workorderno}}</div>
                          </ion-col>
                          <ion-col  size="4">
                            <div class="body1">{{cro.workorderestimateddeliverydatetime | date:"MMM dd, yyyy"}}</div>
                          </ion-col>
                          <ion-col size="1.5">
                            <div class="body"><img src="assets/icon/folder.png" tappable /></div>
                          </ion-col>
                          <ion-col size="1">
                            <div class="body"><img src="assets/icon/file.png" tappable width="10px" height="20px"/></div>
                          </ion-col>
                          <ion-col size="1">
                            <div class="body" (click)=" goEdit(cro.workorderid)"><img src="assets/icon/edit2.png" tappable /></div>
                          </ion-col>
                        </ion-row>
                </ion-card-content>
              </ion-card>
            </div>
  
            <div *ngSwitchCase="'new'">
                <ion-item  class="show"  >
                    <ion-label >Show</ion-label>
                    <ion-select  interface="popover">
                      <ion-select-option value="10">10</ion-select-option>
                      <ion-select-option value="25">25</ion-select-option>
                      <ion-select-option value="50">50</ion-select-option>
                      <ion-select-option value="100">100</ion-select-option>
                    </ion-select>
                    </ion-item> 
  
              <ion-card >        
                <ion-card-content>
                    <ion-row>
                        <ion-col  size="4">
                          <div class="head">CRO</div>
                        </ion-col>
                        <ion-col>
                          <div  class="head">EDD</div>
                        </ion-col>
                        <ion-col size="1.5">
                          <div  class="head">WW</div>
                        </ion-col>
                        <ion-col size="1">
                          <div  class="head"></div>
                        </ion-col>
                      </ion-row>
                      <ion-row  *ngFor="let cro of newWO">
                          <ion-col  size="4" >
                            <div class="body" (click)=" goView(cro.workorderid)">{{cro.workorderno}}</div>
                          </ion-col>
                          <ion-col>
                            <div class="body1">{{cro.workorderestimateddeliverydatetime | date:"MMM dd, yyyy"}}</div>
                          </ion-col>
                          <ion-col size="1.5">
                            <div class="body"><img src="assets/icon/folder.png" tappable /></div>
                          </ion-col>
                          <ion-col size="1">
                            <div class="body" (click)=" goEdit(cro.workorderid)"><img src="assets/icon/edit2.png" tappable /></div>
                          </ion-col>
                        </ion-row>
                </ion-card-content>
              </ion-card>
            </div>
    
                
            <div *ngSwitchCase="'progress'">
                <ion-item  class="show"  >
                    <ion-label >Show</ion-label>
                    <ion-select  interface="popover">
                      <ion-select-option value="10">10</ion-select-option>
                      <ion-select-option value="25">25</ion-select-option>
                      <ion-select-option value="50">50</ion-select-option>
                      <ion-select-option value="100">100</ion-select-option>
                    </ion-select>
                    </ion-item> 
  
              <ion-card >        
                <ion-card-content>
                    <ion-row>
                        <ion-col  size="4">
                          <div class="head">CRO</div>
                        </ion-col>
                        <ion-col  size="4">
                          <div  class="head">EDD</div>
                        </ion-col>
                        <ion-col size="1.5">
                          <div  class="head">WW</div>
                        </ion-col>
                        <ion-col size="1.3">
                            <div  class="head">SJ</div>
                          </ion-col>
                          <ion-col size="1">
                            <div  class="head"></div>
                          </ion-col>
                      </ion-row>
                      <ion-row  *ngFor="let cro of inProgressWO">
                          <ion-col  size="4" >
                            <div class="body"(click)=" goView(cro.workorderid)">{{cro.workorderno}}</div>
                          </ion-col>
                          <ion-col  size="4">
                            <div class="body1">{{cro.workorderestimateddeliverydatetime | date:"MMM dd, yyyy"}}</div>
                          </ion-col>
                          <ion-col size="1.5">
                            <div class="body"><img src="assets/icon/folder.png" tappable /></div>
                          </ion-col>
                          <ion-col size="1">
                            <div class="body"><img src="assets/icon/file.png" tappable width="10px" height="20px"/></div>
                          </ion-col>
                          <ion-col size="1">
                            <div class="body" (click)=" goEdit(cro.workorderid)"><img src="assets/icon/edit2.png" tappable /></div>
                          </ion-col>
                        </ion-row>
                </ion-card-content>
              </ion-card>
            </div>


            <div *ngSwitchCase="'completed'">
                <ion-item  class="show"  >
                    <ion-label >Show</ion-label>
                    <ion-select  interface="popover">
                      <ion-select-option value="10">10</ion-select-option>
                      <ion-select-option value="25">25</ion-select-option>
                      <ion-select-option value="50">50</ion-select-option>
                      <ion-select-option value="100">100</ion-select-option>
                    </ion-select>
                    </ion-item> 
  
              <ion-card >        
                <ion-card-content>
                    <ion-row>
                        <ion-col  col-13>
                          <div class="head">CRO</div>
                        </ion-col>
                        <ion-col col-6>
                          <div  class="head">EDD</div>
                        </ion-col>
                        <ion-col col-6>
                          <div  class="head">WW</div>
                        </ion-col>
                        <ion-col col-6>
                            <div  class="head">SJ</div>
                          </ion-col>
                          <ion-col col-6>
                            <div  class="head"></div>
                          </ion-col>
                          <ion-col col-6>
                              <div  class="head">APPROVAL</div>
                            </ion-col>
                            <ion-col col-6>
                                <div  class="head">REPORT</div>
                              </ion-col>
                      </ion-row>
                      <ion-row  *ngFor="let cro of completedWO">
                          <ion-col col-13 >
                            <div class="body"(click)=" goView(cro.workorderid)">{{cro.workorderno}}</div>
                          </ion-col>
                          <ion-col col-6>
                            <div class="body1">{{cro.workorderestimateddeliverydatetime | date:"MMM dd, yyyy"}}</div>
                          </ion-col>
                          <ion-col col-6>
                            <div class="body"><img src="assets/icon/folder.png" tappable /></div>
                          </ion-col>
                          <ion-col col-6>
                            <div class="body"><img src="assets/icon/file.png" tappable width="10px" height="20px"/></div>
                          </ion-col>
                          <ion-col col-6>
                            <div class="body" (click)=" goEdit(cro.workorderid)"><img src="assets/icon/edit2.png" tappable /></div>
                          </ion-col>
                          <ion-col col-6>
                            <div  class="body"></div>
                          </ion-col>
                          <ion-col col-6>
                            <div  class="body"></div>
                          </ion-col>
                        </ion-row>
                </ion-card-content>
              </ion-card>
            </div>
    
            <div *ngSwitchCase="'view'">
                <ion-item  class="show"  >
                    <ion-label >Show</ion-label>
                    <ion-select  interface="popover">
                      <ion-select-option value="10">10</ion-select-option>
                      <ion-select-option value="25">25</ion-select-option>
                      <ion-select-option value="50">50</ion-select-option>
                      <ion-select-option value="100">100</ion-select-option>
                    </ion-select>
                    </ion-item> 
  
              <ion-card >        
                <ion-card-content>
                    <ion-row>
                        <ion-col  size="4">
                          <div class="head">CRO</div>
                        </ion-col>
                        <ion-col  size="4">
                          <div  class="head">EDD</div>
                        </ion-col>
                        <ion-col size="1.5">
                          <div  class="head">WW</div>
                        </ion-col>
                        <ion-col size="1.3">
                            <div  class="head">SJ</div>
                          </ion-col>
                          <ion-col size="1">
                            <div  class="head"></div>
                          </ion-col>
                      </ion-row>
                      <ion-row  *ngFor="let cro of workOrders">
                          <ion-col  size="4" >
                            <div class="body"(click)=" goView(cro.workorderid)">{{cro.workorderno}}</div>
                          </ion-col>
                          <ion-col  size="4">
                            <div class="body1">{{cro.workorderestimateddeliverydatetime | date:"MMM dd, yyyy"}}</div>
                          </ion-col>
                          <ion-col size="1.5">
                            <div class="body"><img src="assets/icon/folder.png" tappable /></div>
                          </ion-col>
                          <ion-col size="1">
                            <div class="body"><img src="assets/icon/file.png" tappable width="10px" height="20px"/></div>
                          </ion-col>
                          <ion-col size="1">
                            <div class="body" (click)=" goEdit(cro.workorderid)"><img src="assets/icon/edit2.png" tappable /></div>
                          </ion-col>
                        </ion-row>
                </ion-card-content>
              </ion-card>
            </div>

            <div class="ion-text-end">
            <ion-button color="primary" (click)="goAdd()">+ ADD NEW PROJECT</ion-button>
            </div>
          </div>
        
</ion-content>
