<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button  defaulthref=""></ion-back-button>
        </ion-buttons>
      <ion-title>
          JOBCARD
      </ion-title>
     
    </ion-toolbar>
  </ion-header>


<ion-content padding>
  <ion-item>
  <ion-label class="font"><b>Serial Number: {{serialNo.partrecordserialnumber}}</b></ion-label>

  <ion-label class="expand">Expand All</ion-label>
  <ion-toggle slot="end" name="expand" checked mode="md" class="toggle-small" toggle-class="toggle-calm"></ion-toggle>
</ion-item>

  <ion-card>
  <ion-item>
  <ion-label class="font2"><b>{{jcTitle.jobcardtitle}}</b></ion-label>
    <ion-badge color="danger">{{jcTitle.jobcardtotaltaskcount-jcTitle.jobcardcompletedtaskcount-jcTitle.jobcardprogresstaskcount}}</ion-badge>
    <ion-badge color="warning">{{jcTitle.jobcardprogresstaskcount}}</ion-badge>
    <ion-badge color="success">{{jcTitle.jobcardcompletedtaskcount}}</ion-badge>
  </ion-item>
  <ion-item>
  <ion-label class="font"><b>FINDING</b><br><br><br>Date<br><br>{{currentDate}}
    <br><br><br>Task References<br><br>{{childtaskId}}
    <br><br><br>Title<ion-item><ion-textarea placeholder="Enter title here..."></ion-textarea></ion-item>
    <br><br>Description<ion-item><ion-textarea placeholder="Enter description here..."></ion-textarea></ion-item>
  </ion-label>
</ion-item>
<ion-item>
    <ion-icon name="attach" ></ion-icon><ion-label (click)="pickImage()" class="font2" tappable >Attach Image</ion-label>
  </ion-item>
     
    <img src="{{ imgSrc }}" alt="" />
  
  </ion-card>
  <ion-button expand="full" color="primary">Save</ion-button>
</ion-content>

<ion-toolbar>
    <ion-tabs>
    <ion-tab-bar slot="bottom" fixed>
      <ion-tab-button tab="pause" >
        <ion-label class="button3">PAUSE</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="finish">
        <ion-label class="button3">FINISH</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs></ion-toolbar>
