<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button  defaulthref=""></ion-back-button>
        </ion-buttons>
      <ion-title>
          JOBCARD
      </ion-title>
     
    </ion-toolbar>
  </ion-header>


<ion-content padding>
  <ion-item>
  <ion-label class="font"><b>Serial Number: {{serialNo.partrecordserialnumber}}</b></ion-label>
</ion-item>

  <ion-card>
  <ion-item>
    <ion-label>{{jobcardDetail.jobcardtitle}}</ion-label>
    <ion-badge color="danger">{{jobcardDetail.jobcardtotaltaskcount-jobcardDetail.jobcardcompletedtaskcount-jobcardDetail.jobcardprogresstaskcount}}</ion-badge>
    <ion-badge color="warning">{{jobcardDetail.jobcardprogresstaskcount}}</ion-badge>
    <ion-badge color="success">{{jobcardDetail.jobcardcompletedtaskcount}}</ion-badge>
  </ion-item>
  <ion-item>
  <ion-label class="font"><b>FINDING</b><br><br><br>Date<br><br>{{currentDate}}
    <br><br><br>Task References<br><br>{{childtaskId}}
    <br><br><br>Title<ion-item><ion-textarea placeholder="Enter title here..."></ion-textarea></ion-item>
    <br><br>Description<ion-item><ion-textarea placeholder="Enter description here..."></ion-textarea></ion-item>
  </ion-label>
</ion-item>
  <ion-item>  
    <ion-icon name="attach" ></ion-icon><ion-label (click)="pickImage()" class="font2" tappable >Attach Image</ion-label>
  </ion-item>


  
    <ion-slides pager="true" class="card"  >
      <ion-slide *ngFor="let img of imageLists ;index as i" > 
        <ion-card>  
           <div class="scrolling-wrapper"> 
              <img src="{{img}}" tappable style="height: 330px;width:300px" /> 
            
              <!-- <img src="{{imageSrc}}" tappable/>  -->
            
            <div class="chipGroup">
              <ion-chip >
                <button ion-button outline icon-only (click)="goToCanvas(img, i)"><ion-icon name="brush"></ion-icon></button>
                <ion-label>Edit</ion-label>
              </ion-chip>
              <ion-chip>
                 <button ion-button outline icon-only (click)="deleteImage(img, i)" > <ion-icon name="trash" ></ion-icon></button>   
                 <ion-label>Delete</ion-label>
                 
              </ion-chip>
              </div> 
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>

    
    <!-- </ion-item> -->
    <!-- <ion-button expand="block" color="primary" height="10px"><ion-icon name="create" ></ion-icon>Edit Image</ion-button> -->
  </ion-card>

  <ion-button expand="full" color="primary">Save</ion-button>
</ion-content>

<ion-toolbar>
    <ion-tabs>
    <ion-tab-bar slot="bottom" fixed>
      <ion-tab-button tab="pause" >
        <ion-label class="button3"  (click)="goPause()" >{{btn_txt}}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="finish">
        <ion-label class="button3" (click)="goFinish()">FINISH</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs></ion-toolbar>
