.expand{
    font-size: 11.5px;
    max-width: 60px;
}

.font2{
    font-size: 11.5px;
    color: darkcyan;
}
.button3{
    font-size: 11.5px;
    color: darkcyan;
    text-align: center;
}

.button{
    font-size: 11px;
    color: darkcyan;
    background-color: transparent;
    text-align: left;
}

    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
      
      
        .card {
          display: inline-block;
        }
      }
      .image-container {
        min-height: 200px;
        background-size: cover;
      }
       
      @media (min-width: 0px) {
        .images {
          column-count: 2;
        }
      }
       
      @media (min-width: 420px) {
        .images {
          column-count: 3;
        }
      }
       
      @media (min-width: 720px) {
        .images {
          column-count: 4;
        }
      }
       
      .one-image {
        margin: 2px;
      }
      
      .upload{
        font-size: 12px;
      }

  
    .bg-color{
 
        background-color: rgba(222, 222, 222, 0.7);
      }
    