<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button  defaulthref=""></ion-back-button>
        </ion-buttons>
      <ion-title>
          JOBCARD
      </ion-title>
     
    </ion-toolbar>
  </ion-header>


<ion-content padding>
  <ion-item>
  <ion-label class="font"><b>Serial Number: {{serialNo.partrecordserialnumber}}</b></ion-label>
</ion-item>

  <ion-card>
  <ion-item>
    <ion-label>{{jobcardDetail.jobcardtitle}}</ion-label>
    <ion-badge color="danger">{{jobcardDetail.jobcardtotaltaskcount-jobcardDetail.jobcardcompletedtaskcount-jobcardDetail.jobcardprogresstaskcount}}</ion-badge>
    <ion-badge color="warning">{{jobcardDetail.jobcardprogresstaskcount}}</ion-badge>
    <ion-badge color="success">{{jobcardDetail.jobcardcompletedtaskcount}}</ion-badge>
  </ion-item>
  <ion-item>
  <ion-label class="font"><b>FINDING</b><br><br><br>Date<br><br>{{currentDate}}
    <br><br><br>Task References<br><br>{{childtaskId}}
    <br><br><br>Title<ion-item><ion-textarea placeholder="Enter title here..."></ion-textarea></ion-item>
    <br><br>Description<ion-item><ion-textarea placeholder="Enter description here..."></ion-textarea></ion-item>
  </ion-label>
</ion-item>
  <ion-item>  
    <ion-icon name="attach" ></ion-icon><ion-label (click)="pickImage()" class="font2" tappable >Attach Image</ion-label>
  </ion-item>
     
    
    <!-- <img src= "assets/icon/profile.png" alt="" /> -->
    <!-- <ion-item> -->
     <!-- <ion-scroll scrollX="true">androi
       <div class="scroll-item">
       <ion-col col-33 >
    
      <img src= "{{ imageSrc  }}" alt="" />
      <img src= "../../../assets/icon/i1.PNG" id="1" tappable (click)="goToCanvas">
      <img src= "../../../assets/icon/i1.PNG" id="1" tappable (click)="goToCanvas">
    </ion-col>
     </div>
  </ion-scroll> -->
  <!-- <div scroll direction="x" class="item wide-item"> -->
    <ion-slides class="card">
      <ion-slide>    
        <!-- <div class="scrolling-wrapper"> -->
            <ion-card class="card">
             <img src= "../../../assets/icon/i1.PNG" id="1" tappable (click)="goToCanvas()">   
              <!-- <ion-icon *ngFor="let avatar of avatars" name="radio-button-on" class="scroll-item selectable-icon"></ion-icon> -->
        </ion-card>
      </ion-slide>
      <ion-slide>    
        <ion-card class="card">      
             <img src= "../../../assets/icon/i1.PNG" id="1" tappable (click)="goToCanvas()">
                <!-- <ion-icon *ngFor="let avatar of avatars" name="radio-button-on" class="scroll-item selectable-icon"></ion-icon> -->
         </ion-card>     
      </ion-slide>
    </ion-slides> 
  <!-- </div> -->
  <!-- </div> -->



    <!-- </ion-item> -->
    <!-- <ion-button expand="block" color="primary" height="10px"><ion-icon name="create" ></ion-icon>Edit Image</ion-button> -->
  </ion-card>

  <ion-button expand="full" color="primary">Save</ion-button>
</ion-content>

<ion-toolbar>
    <ion-tabs>
    <ion-tab-bar slot="bottom" fixed>
      <ion-tab-button tab="pause" >
        <ion-label class="button3"  (click)="goPause()" >{{btn_txt}}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="finish">
        <ion-label class="button3" (click)="goFinish()">FINISH</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs></ion-toolbar>
