<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button  defaulthref=""></ion-back-button>
        </ion-buttons>
      <ion-title>
          JOBCARD
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-item>
  <ion-label class="font">Serial Number: {{serialNo.partrecordserialnumber}}</ion-label>

  <ion-label class="expand">Expand All</ion-label>
  <ion-toggle slot="end" name="expand" mode="md" class="toggle-small" toggle-class="toggle-calm" (click)="hide()"></ion-toggle>
  </ion-item>

  <ion-card>
    <ion-item> 
    <ion-label>{{jobcardDetail.jobcardtitle}}</ion-label>
    <ion-badge color="danger">{{jobcardDetail.jobcardtotaltaskcount-jobcardDetail.jobcardcompletedtaskcount-jobcardDetail.jobcardprogresstaskcount}}</ion-badge>
    <ion-badge color="warning">{{jobcardDetail.jobcardprogresstaskcount}}</ion-badge>
    <ion-badge color="success">{{jobcardDetail.jobcardcompletedtaskcount}}</ion-badge>
  </ion-item>
   
   <ion-card-content class="font" *ngIf="hideMe"> 
      Complete Percentage
      <ion-progress-bar  color="warning" style="height:10px" value="{{jobcardDetail.jobcardcompletedtaskcount/jobcardDetail.jobcardtotaltaskcount}}"></ion-progress-bar> {{jobcardDetail.jobcardcompletedpercentage}}%</ion-card-content>
    <ion-card-content class="font" *ngIf="hideMe"> 
      Short Time
      <ion-progress-bar color="warning" style="height:10px " value="0.2"></ion-progress-bar>
    </ion-card-content>
    <ion-card-content class="font" *ngIf="hideMe"> 
      Turn Around Time
      <ion-progress-bar  color="warning" style="height:10px " value="0.1"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-item >
    <ion-label class="ion-text-wrap" ><b>{{taskTitle}}</b></ion-label>
  </ion-item>

  <ion-card  *ngFor="let task of taskdetail;let count=index" class="font">
    <ion-item>
      <ion-label class="font"><b>SAE TASK {{count + 1}} </b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">{{task.tasktitle}}</ion-label>
    </ion-item>
        <ion-grid> 
           <ion-row>
             <ion-col width-50><button style="width:100%" class="button" (click)="goToManual()">MANUAL</button></ion-col>
             <ion-col width-50><button style="width:100%" class="button1" (click)="goToFinding(jobcardId,task.taskid)">FINDING</button></ion-col>
           </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>
<ion-toolbar>
  <ion-tabs>
  <ion-tab-bar slot="bottom" fixed >
    <ion-tab-button tab="pause" >
      <ion-label class="button3"  (click)="goPause()" >{{btn_txt}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="finish">
      <ion-label class="button3"  (click)="goFinish()" >FINISH</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs></ion-toolbar>