.font{
    font-size: 11.5px;
}


.font2{
    font-size: 11.5px;
    color: darkcyan;
}

.expand{
    font-size: 11.5px;
    max-width: 60px;
}

.button{
    font-size: 11px;
    color: darkcyan;
    background-color: transparent;
    text-align: left;
}
.button1{
    font-size: 11px;
    color: darkcyan;
    background-color: transparent;
    text-align: right;
}

.button3{
    font-size: 11.5px;
    color: darkcyan;
    text-align: center;
}