<ion-tabs>
 
  <ion-tab-bar slot="bottom" color="primary">
 
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="tab2">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

	  <ion-tab-button tab="tab2">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
     </ion-tab-button>
  </ion-tab-bar>
 
</ion-tabs>
