
$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

ion-row {
    height: $height100;
}
.item{
    padding-top: 10%
}
p{
    color: white;
    text-align: end;
    font-size: 12px;
}

.style{
    text-align: center;
    font-size: 30px;
    font-family: Arial
}

ion-col {
    border: 1px solid #488aff;
    // background: $white-color;
}
    .logo {
       width: 80%;
       height: auto;
       margin: 0 auto;
       align-items : center;
       border-bottom: 1px solid white;
       
     }
     .no-border {
       border-bottom: 0 !important;
       box-shadow: none !important;
     }

ion-button {
    font-weight: 300;
  
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background:linear-gradient(#1DC9DA,#583B8C);
    }
    ion-col {
        border: none;
    }

}