// .bottom-toolbar {
//     position: absolute;
//     bottom: 0;
// }

.canvas{
    position: absolute;
    display: inline-block;
}

.container{
    min-height: 440px;
    
    // align-content: center;
}

// .button{
//     font-size: 11px;
//     color: darkcyan;
//     background-color: transparent;
//     text-align: left;
// }