<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>tab2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar ></ion-searchbar>
  <ion-button expand="block" routerLink="/menu/first/tabs/tab2/add-user" routerDirection="forward">
    Add User Button
  </ion-button>
</ion-content>
