.logo {
    width: 20%;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    align-items : center;
  }
  .no-border {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }

  .font {
    color: darkcyan;
  }

  .font1{
   font-size: 11.5px;
  //  text-align: center; 
  }
  .button{
    font-size: 11px;
    background-color: transparent;
    text-align: center;
}

