.logo {
    width: 25%;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    align-items : center;
  }
  .no-border {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
