ion-segment-button {
    width: calc(100% / 3.5);
    font-size: 12px;
    color: var(--ion-color-medium);
    border: 0px;
    border-radius: 0px;
 

    ion-label {
        max-width: calc(90vw / 3);
    }

}  
  .text{
      font-size: 11.5px;
      font-style: bold;
      color: black;
  }
  
  ion-button{
      background-color:#ADD8E6;
      width: 65px;
      height: 65px;
      color: black;
      border-radius: 5px;
      font-size: 11.5px;
  }

  .head{
      text-align: center;
      float: left;
      width: 95px;
      height: 80px;
  }
  .head1{
    text-align: center;
    float: left;
    width: 110px;
    height: 80px;
}
.head2{
    text-align: center;
    float: left;
    width: 130px;
    height: 80px;
}

  .container {
    display: grid;
    grid-template-columns: auto auto;
 
  }
//employee
  .item {
    background-color:#CFECEC ;
    border: 0.5px solid #fff;
    border-radius: 10px;
    padding: 50px;
    width: 180px;
    height: 170px;
    font-size: 11px;
    text-align: center;
    color:black;
  }
  //todolist
  .item1 {
    background-color:#CFECEC ;
    border: 0.5px solid #fff;
    border-radius: 10px;
    padding:10px;
    width: 80px;
    height: 80px;
    font-size: 11px;
    text-align: center;
    color:black;
    float: right;
  }

  //item 2 n 3 status
  .item2 {
    background-color:#FDD7E4 ;
    border: 0.5px solid #fff;
    border-radius: 10px;
    padding: 50px;
    width: 180px;
    height: 170px;
    font-size: 11px;
    text-align: center;
    color:black;
  }
  
  // .item3 {
  //   background-color:#FDD7E4 ;
  //   border: 0.5px solid #fff;
  //   border-radius: 10px;
  //   padding: 50px;
  //   width: 180px;
  //   height: 128px;
  //   font-size: 11px;
  //   text-align: center;
  //   color:black;
  //   float: right;
  // }
  
  // ion-slide {
  //   height: calc(100vh - 150px);
  // }

  .font{
    font-size: 30px;
    color: dodgerblue;

  }

  .font1{
    font-size: 30px;
    color: gray;

  }

  #highcharts {
    // width: 350px; 
    // height: 400px;
    margin: 0 auto;
    // display: table-cell;
    // position:absolute;
    // width:50%;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    margin: 0 auto;
}

.button3{
  font-size: 11.5px;
  color: darkcyan;
  text-align: center;
}
.tabbar{
  min-height: 400px;
}