<ion-header>
    <ion-toolbar color="primary" >
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <ion-title>
            DASHBOARD
        </ion-title>
      <ion-buttons slot="end">
          <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-buttons>
     </ion-toolbar>
     
  </ion-header>

<ion-content>
 
  <ion-toolbar>
      <!-- (ionChange)="segmentChanged(segment)" -->
    <ion-segment  [(ngModel)]="segment"  scrollable="true"> 
    
        <ion-segment-button id="0" value="0" >
          TO DO LIST
        </ion-segment-button>
        <ion-segment-button id="1" value="1">
          STATUS
        </ion-segment-button>
        <ion-segment-button id="2" value="2">
          MAN HOURS
        </ion-segment-button>
        <ion-segment-button id="3" value="3">
         EMPLOYEE
          </ion-segment-button>
          <ion-segment-button id="4" value="4">
          FAST-TRACK        
        </ion-segment-button>
        <ion-segment-button id="5" value="5">
          STATISTIC
        </ion-segment-button>
    
      </ion-segment>
    </ion-toolbar>

    <!-- <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true" >

        <ion-slide> -->
        <div [ngSwitch]="segment">
          <ion-grid class="text"  *ngSwitchCase="'0'">
           
              <div class="head1"><br><br>PROJECT<BR>MANAGEMENT</div>  
                <div class="item1"> <ion-label class="font">{{approve.length}}</ion-label><br>APPROVE</div>        
             <div class="item1"> <ion-label class="font">{{activate.length}}</ion-label><br>ACTIVATE</div> 
                    
          
              <div class="head1"><br><br>WORKSHOP<br>WORKSHEET</div>
             
              <div class="item1"> <ion-label class="font">{{validateWW.length}}</ion-label><br>VALIDATE</div>  
              <div class="item1"> <ion-label class="font">{{pendingWW.length}}</ion-label><br>PENDING</div>  
              
          
              <div class="head1"><br><br>SMART<br>JOBCARD</div>
              <div class="item1"> <ion-label class="font1">0</ion-label><br>SIGN-OFF</div>  
              
              
              <div class="head1"></div>
              <div class="head1"><br><br>EMPLOYEE<br>MANAGEMENT</div>
              <div class="item1"> <ion-label class="font1">0</ion-label><br>ON LEAVE</div> 
              <div class="item1"> <ion-label class="font1">0</ion-label><br>ACTIVE</div> 
             
                  
              <div class="head1"><br><br>MESSAGE</div>
              <div class="item1"> <ion-label class="font1">0</ion-label><br>UNREAD</div> 
        </ion-grid>
      <!-- </ion-slide>

      <ion-slide> -->
          <div class="container"  *ngSwitchCase="'1'" >
            <div class="item"> <ion-label class="font">{{total}}</ion-label><br>TOTAL IN WORKSHOP</div>
            <div class="item2"> <ion-label class="font">{{newWO.length}}</ion-label><br>NEW</div>
            <div class="item"> <ion-label class="font">{{inProgressWO.length}}</ion-label><br>IN-PROGRESS</div>
            <div class="item2"> <ion-label class="font">{{closed}}</ion-label><br>CLOSED</div>
            <div class="item"> <ion-label class="font">{{completedWO.length}}</ion-label><br>COMPLETED</div>
            <div class="item2"> <ion-label class="font">{{delayed}}</ion-label><br>DELAYED</div>
            </div>
          <!-- </ion-slide>
         
          <ion-slide> --><div  *ngSwitchCase="'2'">
              <ion-card >
                  <!-- <figure class="highcharts-figure">
                      <div id="highcharts"></div>
                    </div>


                      
                  </figure> -->
                  </ion-card>
                </div>
      <!-- </ion-slide>

      <ion-slide > -->
          <div class="container"  *ngSwitchCase="'3'" >
           <div class="item"> <ion-label class="font">{{supervisor}}</ion-label><br>SUPERVISOR</div>
           <div class="item"> <ion-label class="font">{{technician}}</ion-label><br>TECHNICIAN</div>
           <div class="item"> <ion-label class="font">{{engineer}}</ion-label><br>ENGINEER</div>
           <div class="item"> <ion-label class="font1">0</ion-label><br>COMPOSITE</div>
           <div class="item"> <ion-label class="font1">0</ion-label><br>SHEET METAL</div>
           <div class="item"> <ion-label class="font1">0</ion-label><br>PAINT</div>
          </div>
        <!-- </ion-slide>

        <ion-slide> -->
        <ion-card  *ngSwitchCase="'4'">
          <ion-card-header>
            Change Password
          </ion-card-header>
          <ion-card-content>
            Your change password form here
          </ion-card-content>
        </ion-card>
      <!-- </ion-slide>

      <ion-slide> -->
    
      <!-- <ion-card  > -->
        <!-- <div *ngSwitchCase="'5'" > -->
         
       <!-- <ion-toolbar > -->
          <!-- <ion-tabs>
          <ion-tab-bar slot="bottom" fixed>
            <ion-tab-button tab="sales" >
              <ion-label class="button3"  >SALES</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="revenue">
              <ion-label class="button3" >REVENUE</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="profit">
              <ion-label class="button3" >PROFIT</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs> -->
           <!-- </ion-toolbar> -->

      <div *ngSwitchCase="'5'">
        <ion-toolbar  [(ngModel)]="segment"  slot="bottom">
          <!-- (ionChange)="segmentChanged(segment)" -->
          
        <ion-segment > 
            <ion-segment-button id="11" value="0" >
              <ion-label class="button3">SALES</ion-label>
            </ion-segment-button>
            <ion-segment-button id="12" value="1">
              <ion-label class="button3">REVENUE</ion-label>
            </ion-segment-button>
            <ion-segment-button id="13" value="2">
              <ion-label class="button3">PROFIT</ion-label>
            </ion-segment-button>        
          </ion-segment>
        </ion-toolbar>


        <div [ngSwitch]="segment">
            <ion-card  class="tabbar" *ngSwitchCase="'0'" >
                <ion-card-header>
                  sales
                </ion-card-header>
              </ion-card>

              <ion-card  class="tabbar" *ngSwitchCase="'1'" >
                <ion-card-header>
                  REVENUE
                </ion-card-header>
              </ion-card>

              <ion-card  class="tabbar" *ngSwitchCase="'2'" >
                <ion-card-header>
                  PROFIT
                </ion-card-header>
              </ion-card>
            </div>

   
</div>
      <!-- </ion-card> -->
      <!-- </ion-slide>
      
 </ion-slides> -->
    
    </div>
</ion-content>
