<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button  defaulthref=""></ion-back-button>
        </ion-buttons>
      <ion-title>
          JOBCARD
      </ion-title>
    </ion-toolbar>
  </ion-header>
   

<ion-content padding>
  
    <ion-label class="font">Serial Number: {{serialNo.partrecordserialnumber}}</ion-label>

<ion-card>
<ion-item *ngFor="let jctitle of serialNo.jobcards">
  <ion-label><b>{{jctitle.jobcardtitle}}</b></ion-label>
  <ion-label tappable class="ocr" (click)="goToTaks(jctitle.jobcardid,jctitle)" >OCR</ion-label>
</ion-item>
</ion-card>


</ion-content>
